
asgiref==3.8.0

distlib==0.3.9
dj-database-url==2.3.0
Django==5.0.3
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0

google-pasta==0.2.0
grpcio==1.70.0
gunicorn==23.0.0

opencv-python==4.11.0.86

packaging==24.2
pandas==2.2.3
pillow==10.2.0
pipenv==2024.4.1

psycopg2-binary==2.9.10
Pygments==2.19.1
PyJWT==2.9.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1


wheel==0.45.1
whitenoise==6.9.0
wrapt==1.17.2
django-import-export==4.3.7
django-filter==25.1
requests==2.31.0
